<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PTC2024.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PTC2024.Properties.Settings.db_aaa7ca_ricaldoneConnectionString"
            connectionString="Data Source=SQL8005.site4now.net;Initial Catalog=db_aaa7ca_ricaldone;Persist Security Info=True;User ID=db_aaa7ca_ricaldone_admin;Password=Master2024"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <PTC2024.Properties.Settings>
      <setting name="Token" serializeAs="String">
        <value />
      </setting>
      <setting name="darkMode" serializeAs="String">
        <value>False</value>
      </setting>
    </PTC2024.Properties.Settings>
  </userSettings>
</configuration>